{{> header}}

<!-- Content Start -->

<div class="container-fluid main-content bg-transparent">
  {{#if messages.success}}
  <div class="row">
    <div class="alert alert-success alert-dismissible fade show col-4 offset-4 mt-3" role="alert">
      {{messages.success}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
  {{/if}}
  
  <div class="row text-center my-5">
    <h2 class="fw-bold text-var-white">Karunia Leo's Blog</h2>
  </div>

  <div
    class="container-sm-fluid container-lg d-flex flex-column align-items-center my-5"
  >
    <!-- BLOG LIST -->
    {{#each blogs}}
    <div
      class="card bg-white-transparent-high col-lg-10 col-sm-12 mb-4 p-2"
    >
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="../public/img/blog-img.png"
            class="img-fluid rounded-start"
            alt="pasar-coding"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body p-0 ps-3">
            {{#if ../isLogin}}
              <div class="text-end">
                <a href="/edit-blog/{{id}}" class="btn bg-var-white">Edit Post</a>
                <button type="button" class="btn bg-danger text-var-white" onclick="deleteBlog({{this.id}})">Delete Post</button>
              </div>
            {{/if}}
            <h3 class="card-title fw-bold my-4"><a class="text-var-blue text-decoration-none"
                href="/blog-detail/{{this.id}}"
              >{{this.title}}</a></h3>
            <p class="card-text"><small class="text-muted">{{this.postFullTime}} | {{this.author}}</small></p>
            <p class="card-text">{{this.content}}</p>
            <p class="card-text text-end"><small
                class="text-muted"
              >{{this.distanceTime}}</small></p>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>

<!-- Content End -->

{{> footer}}