<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog | Karunia Leo Gultom</title>

    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <!-- Developer CSS -->
    <link rel="stylesheet" href="../public/css/main.css" />
    <link rel="stylesheet" href="../public/css/nav.css" />

    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="../public/img/favicon.png"
      type="image/png"
    />
  </head>
  <body class="p-0">
    <div class="body-container container-fluid"> 
      <!-- Navbar Start -->

      <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <div class="container">
          <a class="navbar-brand text-var-white h1" href="/">Karunia Leo Gultom</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar"
          >
            <div class="burger">
              <div class="line-1"></div>
              <div class="line-2"></div>
              <div class="line-3"></div>
            </div>
          </button>
          <div
            class="offcanvas offcanvas-start bg-blue-transparent"
            tabindex="-1"
            id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel"
          >
            <div class="offcanvas-header">
              <h5
                class="offcanvas-title text-var-white"
                id="offcanvasNavbarLabel"
              >Menu</h5>
              <button
                type="button"
                class="btn-close btn-close-white"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              ></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1">
                {{#if isLogin}}
                <li class="nav-item ps-lg-4 py-2">
                  <span class="nav-link text-var-white">Hello, {{user.name}}!</span>
                </li>
                <li class="nav-item ps-lg-4 py-2">
                  <a class="nav-link text-var-white" href="/logout">Logout</a>
                </li>
                {{else}}
                <li class="nav-item ps-lg-4 py-2">
                  <a class="nav-link text-var-white" href="/register">Register</a>
                </li>
                <li class="nav-item ps-lg-4 py-2">
                  <a class="nav-link text-var-white" href="/login">Login</a>
                </li>
                {{/if}}
                <li class="nav-item ps-lg-4 py-2">
                  <a class="nav-link text-var-white" href="/">Home</a>
                </li>
                <li class="nav-item ps-lg-4 py-2">
                  <a
                    class="nav-link text-var-white active"
                    href="/blog"
                    aria-current="page"
                  >Blog</a>
                </li>
                {{#if isLogin}}
                  <li class="nav-item ps-lg-4 py-2">
                    <a class="nav-link text-var-white" href="/add-blog">Add Blog</a>
                  </li>
                {{/if}}
                <li class="nav-item ps-lg-4 py-2">
                  <a
                    class="btn bg-transparent text-var-white border-var-white px-4"
                    href="/contact"
                  >Contact</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>

      <!-- Navbar End -->

      <!-- Content Start -->

      <div class="container-fluid main-content bg-transparent">
        {{#if messages.success}}
        <div class="row">
          <div class="alert alert-success col-4 offset-4 mt-3" role="alert">
            {{messages.success}}
          </div>
        </div>
        {{/if}}
        <div class="row text-center my-5">
          <h2 class="fw-bold text-var-white">Karunia Leo's Blog</h2>
        </div>

        <div
          class="container-sm-fluid container-lg d-flex flex-column align-items-center my-5"
        >
          <!-- BLOG LIST -->
          {{#each blogs}}
          <div
            class="card bg-white-transparent-high col-lg-10 col-sm-12 mb-4 p-2"
          >
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="../public/img/blog-img.png"
                  class="img-fluid rounded-start"
                  alt="pasar-coding"
                />
              </div>
              <div class="col-md-8">
                <div class="card-body p-0 ps-3">
                  {{#if ../isLogin}}
                    <div class="text-end">
                      <a href="/edit-blog/{{id}}" class="btn bg-var-white">Edit Post</a>
                      <button type="button" class="btn bg-danger text-var-white" onclick="deleteBlog({{this.id}})">Delete Post</button>
                    </div>
                  {{/if}}
                  <h3 class="card-title fw-bold my-4"><a class="text-var-blue text-decoration-none"
                      href="/blog-detail/{{this.id}}"
                    >{{this.title}}</a></h3>
                  <p class="card-text"><small class="text-muted">{{this.postFullTime}} | {{this.author}}</small></p>
                  <p class="card-text">{{this.content}}</p>
                  <p class="card-text text-end"><small
                      class="text-muted"
                    >{{this.distanceTime}}</small></p>
                </div>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>

      <!-- Content End -->

      <!-- Footer -->

      <footer class="bg-transparent text-var-white text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3 fw-bold">
          &copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          |
          <a class="text-var-white text-decoration-none" href="/">Karunia Leo
            Gultom</a>
        </div>
        <!-- Copyright -->
      </footer>

      <!-- Footer End -->

    </div>

    <!-- Modal -->

    <div
      class="modal fade"
      id="deleteBlogConfirm"
      tabindex="-1"
      aria-labelledby="deleteBlogConfirmLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteBlogConfirmLabel">Delete Confirmation</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            Are you sure want to delete this blog?
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >Cancel</button>
            <button type="button" id="deleteBlog" class="btn bg-danger text-var-white">Delete</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Javascripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../public/js/blog.js"></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>